* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.comment-body {
  padding: 20px;
  /* margin: 30px; */
  display: grid;
  grid-template-rows: auto auto auto;
  /* position: relative;
  top: 0; */
  /* border: 1px solid red; */
}

.comment-body > h4 {
  font-size: 13px;
  font-weight: 600 !important;
}

.title > h3 {
  font-size: 16px;
  position: relative;
  top: 0;
}

ul {
  list-style: none;
  display: flex;
  /* border: 1px solid red ; */
  width: 250px;
  margin-top: 10px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: grey;
}

ul > li {
  cursor: pointer;
}

.span {
  margin-left: -15px;
  font-size: 18px;
  border-radius: 50%;
  font-weight: 700;
  word-wrap: break-word;
  word-break: break-all;
  cursor: pointer;
  margin-top: 0;
}

.bodytag {
  background-color: #d4d4d4;
  border-radius: 10px;
  margin: 10px;

  /* border-left:3px solid black ; */
}